<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Logs to a file -->
		<target name="file" xsi:type="File"
				fileName="D:/VisualStudio/SpecFlowProject1/SpecFlowProject1/Logs/logfile.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception}"
				keepFileOpen="false"
				concurrentWrites="true"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
